<div class="container">
    <div class="col-sm-offset-3 col-sm-6">
        <form id='update-post'>
            <label for='body'>Edit Post</label></br>
            <input value="{{post.body}}" type="text" placeholder= "" name="body" />
            <button type='submit'>Update</button>
        </form>
    </div>
</div>
