<div class="container">
    <div class="row">
        <div class="col-md-4" >

        </div>
        <div class="col-md-4">
            <form action='#' id='new-post'>
                <label for='body'>New Post</label></br>
                <input type="text" name="body" id="post-body" />
                  <button type='submit'>Save</button>
            </form>
            <h1>Posts</h1>
            <ul class="list-group">
              {{#each posts}}
                <li class='list-group-item'>{{this.body}}</li>
              {{/each}}
            </ul>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
