<div class="container">
    <div class="row">
        <div class="col-md-6" >
            <form id='update-post'>
                <label for='body'>Edit Post</label></br>
                <input value="{{post.body}}" type="text" placeholder= "" name="body" />
                <button type='submit'>Update</button>
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
